<div class="container pt-5">
  <h1>My first Rails app</h1>

  <p>Ask your coach anything:</p>


    <form action="/answer">
      <div class="input-group mb-3">
        <input type="text" name="question" class="form-control">
        <button class="btn btn-secondary" value="Ask!" type="submit" id="button-addon2">Ask!</button>
      </div>
    </form>
</div>
